<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>SPK | Create New Company</title>

    <!-- Sweet Alert 2 -->
    <link rel="stylesheet" th:href="@{/sweet_alert2/sweetalert2.min.css}">

    <th:block th:include="fragments/menu.html::main-style">
    </th:block>

    <!-- Custom Create New User Style -->
    <link rel="stylesheet" th:href="@{/css/companies/create-new-company.css}">

</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
<!--/*@thymesVar id="companies" type="id.co.map.spk.entities.CompanyEntity"*/-->
<!--/*@thymesVar id="roles" type="id.co.map.spk.entities.RoleEntity"*/-->
<div class="wrapper">
    <th:block th:insert="fragments/menu.html::header-menu">
    </th:block>
    <th:block th:insert="fragments/menu.html::left-side-menu">
    </th:block>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main Content -->
        <section class="content">
            <div class="box box-default">
                <form onsubmit="return onSubmitCompany();">
                    <div class="box-header with-border">
                        <h3 class="box-title">New Company Form</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <!-- Company Id -->
                                <div class="form-group">
                                    <label><span style="color:red;">*</span> Company ID:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-building"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="companyId" maxlength="5" required>
                                    </div>
                                </div>
                                <!-- /.Company Id -->
                                <!-- Processing Group -->
                                <div class="form-group">
                                    <label><span style="color:red;">*</span> Processing Group:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="processingGroup" maxlength="3" required>
                                    </div>
                                </div>
                                <!-- /.Processing Group -->
                                <!-- Company Name -->
                                <div class="form-group">
                                    <label><span style="color:red;">*</span> Company Name:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="companyName" maxlength="225" required>
                                    </div>
                                </div>
                                <!-- /.Company Name -->
                                <!-- Sbu Code -->
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="sbuCode" class="col-sm-12 control-label"><span style="color:red;">*</span> Sbu Code: </label>
                                        <div class="input-group-addon">
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                            <input type="text" class="form-control pull-right" id="sbuCode" maxlength="3" required>
                                    </div>
                                    <!-- Sbu Code -->
                                    <!-- /.Sbu Desc -->
                                    <div class="col-sm-6">
                                        <label for="sbuDesc" class="col-sm-12 control-label"><span style="color:red;">*</span> Sbu Desc: </label>
                                        <div class="input-group-addon">
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                            <input type="text" class="form-control pull-right" id="sbuDesc" maxlength="100" required>
                                    </div>
                                </div>
                                <!-- /.Sbu Desc -->
                                <!-- COA -->
                                <div class="form-group">
                                    <label><span style="color:red;">*</span> COA:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="coa" maxlength="5" required>
                                    </div>
                                </div>
                                <!-- /.COA -->
                                <!-- NPWP -->
                                <div class="form-group">
                                    <label><span style="color:red;">*</span> NPWP:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="npwp" maxlength="30" required>
                                    </div>
                                    <span class="help-block">Ex: 02.505.007.1-073.000</span>
                                </div>
                                <!-- /.NPWP -->
                                <!-- Address 1 -->
                                <div class="form-group">
                                    <label><span style="color:red;">*</span> Address 1:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="address1" maxlength="100" required>
                                    </div>
                                </div>
                                <!-- /.Address 1 -->
                                <!-- Address 2 -->
                                <div class="form-group">
                                    <label><span style="color:red;">*</span> Address 2:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="address2" maxlength="100" >
                                    </div>
                                </div>
                                <!-- /.Address 2 -->
                                <!-- City -->
                                <div class="form-group">
                                    <label><span style="color:red;">*</span> City:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-asterisk"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="city" maxlength="100" >
                                    </div>
                                </div>
                                <!-- /.City -->
                                <!-- Approval Rule  -->
                                <div class="form-group">
                                    <label><span style="color:red;">*</span> Approval Rule:</label>
                                    <select class="form-control" id="approvalRule" required>
                                        <option value="">-Select  Rule-</option>
                                        <option th:each="rule : ${approvalRules}" th:value="${rule.approvalRulesId}" th:text="${rule.approvalRulesId}">RULE0001</option>
                                    </select>
                                </div>
                                <!-- /.Approval Rule -->
                                <!-- Country -->
                                <div class="form-group">
                                    <label><span style="color:red;">*</span> Country:</label>
                                    <select class="form-control" id="countryData" required>
                                        <option value="">-Select  Country-</option>
                                        <option th:each="ctry : ${countryList}" th:value="${ctry.CountryId}" th:text="${ctry.CountryName}">RULE0001</option>
                                    </select>
                                </div>
                                <!-- /.Country -->
                                <!-- Letter Head-->
                                <div class="form-group">
                                    <div class="col-sm-12 well well-sm no-shadow">
                                        <label for="letterHead" class="col-sm-12 control-label"><span style="color:red;">*</span>Letter Head: </label>
                                        <div class="col-sm-12">
                                            <input type="file" id="letterHead" accept="image/*" required/>
                                            <p class="help-block">*) Letter Head file in PNG/JPG/JPEG format.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.Letter Head-->
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <div class="col-md-10 col-md-offset-1">
                            <button type="submit" class="btn btn-warning pull-right">Submit</button>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </section>
        <!-- /.Main Content -->
    </div>
    <!--/.content-wrapper -->

    <th:block th:insert="fragments/footer.html::footer">
    </th:block>
</div>

<th:block th:include="fragments/footer.html::main-scripts">
</th:block>

<!-- Sweet Alert 2 Script -->
<script th:src="@{/sweet_alert2/sweetalert2.min.js}"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
<script th:src="@{/sweet_alert2/sweetalert2_optional.js}"></script>

<!-- Menu Activator script -->
<script th:src="@{/scripts/utils/menu-activator.js}"></script>

<!-- Create new User script -->
<script th:src="@{/scripts/companies/create-new-company.js}"></script>

</body>
</html>