<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:text="${spk.spkDescription}">SPK | Print</title>

    <!-- favicon -->
    <link rel="icon" th:href="@{~/images/favicon.ico}">

    <!-- Google Font -->
    <link rel="stylesheet" media="all" th:href="@{/css/googleapis.css}">

    <!-- Paper CSS-->
    <link rel="stylesheet" media="all" th:href="@{/css/paper/paper.css}">

    <!-- Set page size here: A5, A4 or A3 -->
    <!-- Set also "landscape" if you need -->
    <style>
        @page { size: A4 }

        body {
            font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
        }

        .title{
            font-size: 13px;
            width: 100%;
            font-weight: bold;
        }

        .title-1{
            text-align: center;
        }

        .title-right{
            text-align: right;
        }

        .description{
            text-align: justify;
            font-size: 13px;
        }

        .data{
            margin-left: 15mm;
            font-size: 13px;
        }

        .key{
            vertical-align: text-top;
            width: 35mm;
            align-content: flex-start;
        }

        .bottom{
            position:absolute;
            /*bottom: 0px;*/
            bottom:134px;
            width: 200mm;
        }

        .signature-left{
            width: 50mm;
            font-size: 13px;
            position: absolute;
            margin-bottom: 20mm;
        }

        .signature-right{
            width: 150mm;
            font-size: 13px;
            position: relative;
            float: right;
            /*margin-bottom: 20mm;*/
            margin-bottom: -15mm;
        }

        .signature-right table{
            text-align: center;
            float: right;
            /*margin-right: 5mm;*/
            margin-right: 15mm;
        }

        .signature-right td{
            padding-left: 10mm;
        }

        .description-bottom{
            position:absolute;
            /*bottom: 0px;*/
            bottom:-134px;
        }

        .letter-head-img{
            width: 718px;
            /*height: 100px;*/
            max-height: 150px;
        }

        @media print {
          img {
             display: block !important;
          }
        }
    </style>
</head>
<body class="A4" onload="window.print()">
<!--/*@thymesVar id="spk" type="id.co.map.spk.entities.SuratPerintahKerjaEntity"*/-->
<!--/*@thymesVar id="company" type="id.co.map.spk.entities.CompanyEntity"*/-->
<!--/*@thymesVar id="asset" type="id.co.map.spk.entities.AssetClassEntity"*/-->
<!--/*@thymesVar id="store" type="id.co.map.spk.entities.StoreEntity"*/-->
<!--/*@thymesVar id="textFormatter" type="id.co.map.spk.utils.TextFormatter"*/-->
<!--/*@thymesVar id="bahasaNumberToWords" type="id.co.map.spk.utils.TextFormatter"*/-->
<!--/*@thymesVar id="vendor" type="id.co.map.spk.entities.VendorEntity"*/-->
<!--/*@thymesVar id="firstApprover" type="id.co.map.spk.entities.SpkHistoryEntity"*/-->

<section class="sheet padding-10mm">
    <img th:src="@{/compHeaderImagePath/{headerImage}(headerImage=${company.headerImage})}" class="letter-head-img"/>
    <hr style="border-width: 2px;"/>

    <table class="title">
        <tr>
            <td colspan="2" class="title-1">
                WORK ORDER
            </td>
        </tr>
        <tr>
            <td width="70%">
                <table>
                    <tr>
                        <td width="50%">
                            DOCUMENT NUMBER
                        </td>
                        <td>
                            : [[${spk.spkId}]]
                        </td>
                    </tr>
                    <tr th:if="${spk.getSpkType() == 'Asset'}">
                        <!-- <tr> -->
                        <td width="50%">
                            INTERNAL ORDER
                        </td>
                        <td>
                            : [[${spk.internalOrder}]]
                        </td>
                    </tr>
                    <tr>
                        <td width="50%">
                            PURCHASE ORDER
                        </td>
                        <td>
                            : [[${spk.purchaseOrder}]]
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30%" class="title-right">
                <img th:src="${qrCodeUri}" width="100" height="100">
            </td>
        </tr>
    </table>
    <!--    <p class="description">-->
    <!--        Berdasarkan penawaran harga yang disetujui pada tanggal [[${@textFormatter.toBahasaDateFormat(spk.approvedQuotationDate)}]] untuk-->
    <!--        <strong>-->
    <!--            [[${spk.spkDescription}]]-->
    <!--        </strong>-->
    <!--        dengan nilai [[${@textFormatter.toRupiahFormat(spk.amount)}]]-->
    <!--        ([[${@bahasaNumberToWords.convert(spk.amount)}]]) tidak termasuk PPN 11% maka:-->
    <!--    </p>-->
    <p class="description">
        [[${print.label1}]]
    </p>
    <table class="data">
        <tr>
            <!--            <td class="key">Dengan ini Kami</td>-->
            <td class="key">[[${print.label2}]]</td>
            <td>:</td>
            <td th:text="${company.companyName}">PT. Mitra Adiperkasa, Tbk.</td>
        </tr>
        <tr>
            <!--            <td class="key">NPWP</td>-->
            <td class="key">[[${print.label3}]]</td>
            <td>:</td>
            <td th:text="${company.npwp}">02.505.007.1-073.000</td>
        </tr>
        <tr>
            <!--            <td class="key">Alamat</td>-->
            <td class="key">[[${print.label4}]]</td>
            <td style="vertical-align: text-top;">:</td>
            <td>
                <span th:text="${company.address1}"></span><br/>
                <span th:text="${company.address2}"></span><br/>
                <span th:text="${company.city}"></span><br/>
            </td>
        </tr>
    </table>
    <!--    <p class="description">Yang untuk selanjutnya disebut sebagai Pemberi Tugas, memerintahkan kepada:</p>-->
    <p class="description">[[${print.label5}]]</p>
    <table class="data">
        <tr>
            <!--            <td class="key">Nama</td>-->
            <td class="key">[[${print.label6}]]</td>
            <td>:</td>
            <td th:text="${vendor.vendorName}">CADBURY INDONESIA</td>
        </tr>
        <tr>
            <!--            <td class="key">Alamat</td>-->
            <td class="key">[[${print.label7}]]</td>
            <td>:</td>
            <td th:text="${vendor.street}">JL RAYA PULO GADUNG NO 20 KAWASAN</td>
        </tr>
    </table>
    <!--    <p class="description">-->
    <!--        Yang selanjutnya disebut sebagai kontraktor untuk [[${spk.spkDescription}]] dengan perincian sebagai berikut:-->
    <!--    </p>-->
    <p class="description">
        [[${print.label8}]]
    </p>
    <table class="data">
        <tr>
            <!--            <td class="key">Lingkungan Pekerjaan</td>-->
            <td class="key">[[${print.label9}]]</td>
            <td>:</td>
            <!--            <td>Sesuai penawaran terlampir</td>-->
            <td>[[${print.label10}]]</td>
        </tr>
        <tr>
            <!--            <td class="key">Nilai Pekerjaan</td>-->
            <td class="key">[[${print.label11}]]</td>
            <td>:</td>
            <td>
                <!--                <b>[[${@textFormatter.toRupiahFormat(spk.amount)}]] (tidak termasuk PPN 11%)</b>-->
                <b>[[${@textFormatter.toRupiahFormat(spk.amount)}]] [[${print.label12}]]</b>
            </td>
        </tr>
        <tr>
            <!--            <td class="key">Lama Pekerjaan</td>-->
            <td class="key">[[${print.label13}]]</td>
            <td>:</td>
            <td>
                <!--                <b>Konfirmasi dengan Saudara/i [[${spk.contactPerson}]]</b>-->
                <b>[[${print.label14}]] [[${spk.contactPerson}]]</b>
            </td>
        </tr>
        <tr>
            <!--            <td class="key">Cara Pembayaran</td>-->
            <td class="key">[[${print.label15}]]</td>
            <td style="vertical-align: text-top;">:</td>
            <td>
                <!-- Amount Payment -->
                <th:block th:if="${spk.top1Amount > 0}">
                    <!--                    &#9679; Pembayaran pertama [[${@textFormatter.toRupiahFormat(spk.top1Amount)}]] [[${spk.top1Message}]]<br/>-->
                    &#9679; [[${print.label16}]] [[${@textFormatter.toRupiahFormat(spk.top1Amount)}]] [[${spk.top1Message}]]<br/>
                </th:block>
                <th:block th:if="${spk.top2Amount > 0}">
                    <!--                    &#9679; Pembayaran kedua [[${@textFormatter.toRupiahFormat(spk.top2Amount)}]] [[${spk.top2Message}]]<br/>-->
                    &#9679; [[${print.label17}]] [[${@textFormatter.toRupiahFormat(spk.top2Amount)}]] [[${spk.top2Message}]]<br/>
                </th:block>
                <th:block th:if="${spk.top3Amount > 0}">
                    <!--                    &#9679; Pembayaran ketiga [[${@textFormatter.toRupiahFormat(spk.top3Amount)}]] [[${spk.top3Message}]]<br/>-->
                    &#9679; [[${print.label18}]] [[${@textFormatter.toRupiahFormat(spk.top3Amount)}]] [[${spk.top3Message}]]<br/>
                </th:block>
                <th:block th:if="${spk.top4Amount > 0}">
                    <!--                    &#9679; Pembayaran keempat [[${@textFormatter.toRupiahFormat(spk.top4Amount)}]] [[${spk.top4Message}]]<br/>-->
                    &#9679; [[${print.label19}]] [[${@textFormatter.toRupiahFormat(spk.top4Amount)}]] [[${spk.top4Message}]]<br/>
                </th:block>
                <th:block th:if="${spk.top5Amount > 0}">
                    <!--                    &#9679; Pembayaran kelima [[${@textFormatter.toRupiahFormat(spk.top5Amount)}]] [[${spk.top5Message}]]<br/>-->
                    &#9679; [[${print.label20}]] [[${@textFormatter.toRupiahFormat(spk.top5Amount)}]] [[${spk.top5Message}]]<br/>
                </th:block>
                <!-- /.Amount Payment -->
                <!-- Percentage Payment -->
                <th:block th:if="${spk.top1Percentage > 0}">
                    <!--                    &#9679; Pembayaran pertama [[${spk.top1Percentage}]]% [[${spk.top1Message}]]<br/>-->
                    &#9679; [[${print.label21}]] [[${spk.top1Percentage}]]% [[${spk.top1Message}]]<br/>
                </th:block>
                <th:block th:if="${spk.top2Percentage > 0}">
                    <!--                    &#9679; Pembayaran kedua [[${spk.top2Percentage}]]% [[${spk.top2Message}]]<br/>-->
                    &#9679; [[${print.label22}]] [[${spk.top2Percentage}]]% [[${spk.top2Message}]]<br/>
                </th:block>
                <th:block th:if="${spk.top3Percentage > 0}">
                    <!--                    &#9679; Pembayaran ketiga [[${spk.top3Percentage}]]% [[${spk.top3Message}]]<br/>-->
                    &#9679; [[${print.label23}]] [[${spk.top3Percentage}]]% [[${spk.top3Message}]]<br/>
                </th:block>
                <th:block th:if="${spk.top4Percentage > 0}">
                    <!--                    &#9679; Pembayaran keempat [[${spk.top4Percentage}]]% [[${spk.top4Message}]]<br/>-->
                    &#9679; [[${print.label24}]] [[${spk.top4Percentage}]]% [[${spk.top4Message}]]<br/>
                </th:block>
                <th:block th:if="${spk.top5Percentage > 0}">
                    <!--                    &#9679; Pembayaran kelima [[${spk.top5Percentage}]]% [[${spk.top5Message}]]<br/>-->
                    &#9679; [[${print.label25}]] [[${spk.top5Percentage}]]% [[${spk.top5Message}]]<br/>
                </th:block>
                <!-- /.Percentage Payment -->
                <!--                <span>Tagihan disertai dengan kwitansi a.n. <b>[[${company.companyName}]] </b></span>-->
                <span>[[${print.label26}]] <b>[[${company.companyName}]] </b></span>
            </td>
        </tr>
    </table>
    <p class="description">
        <!--        Demikian Surat Perintah Kerja ini dibuat untuk dilaksanakan.-->
        [[${print.label27}]]
    </p>

    <div class="bottom">
        <div class="signature-left">
            <table>
                <tr>
                    <td>
                        <!--                        Jakarta, [[${@textFormatter.toBahasaDateFormat(spk.createdTimeStamp)}]]<br/>-->
                        [[${print.label28}]], [[${@textFormatter.toBahasaDateFormat(spk.createdTimeStamp)}]]<br/>
                        <!--                        Hormat Kami,<br/><br/><br/><br/>-->
                        [[${print.label29}]],<br/><br/><br/><br/>
                        <b><u>[[${firstApprover.userName}]]</u></b><br/>
                        [[${@textFormatter.toBahasaDateFormat(firstApprover.dataTimeStamp)}]]<br/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="signature-right">
            <table>
                <tr>
                    <td th:each="spkHistory: ${spkHistories}">
                        <br/>
                        <!--                        <span>Mengetahui,</span>-->
                        <span>[[${print.label30}]],</span>
                        <br/><br/><br/><br/>
                        <span>
                            <b><u>[[${spkHistory.userName}]]</u></b><br/>
                            [[${@textFormatter.toBahasaDateFormat(spkHistory.dataTimeStamp)}]]<br/>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="description-bottom">
            <!--            <p class="description" style="margin-right: 15mm">Disclaimer: <br/> Sesuai dengan ketentuan yang berlaku, PT Mitra Adiperkasa Group mengatur bahwa Surat Perintah Kerja ini telah ditandatangani secara elektronik oleh yang berwenang di atas sehingga tidak diperlukan tanda tangan basah pada dokumen ini.</p>-->
            <p class="description" style="margin-right: 15mm">Disclaimer: <br/> [[${print.label31}]] </p>
        </div>
    </div>
</section>
</body>
</html>